/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    display: flex;
    justify-content: center;
    width:100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
}

.body-container {
    margin: 0 50px;
}

/****** Header ***********/
header {
    display: flex;
    width:100%;
    height: 79px;
    align-items: flex-start;
    justify-content: space-between;
}

/****** Logo ***********/
#logo {
    padding: 30px 50px;
    height: 79px;
}

/****** Menu ***********/
.menu {
    display: flex; 
    flex-direction: row;
    width: 240px;
    gap:68px;
    font-size: 16px;
    margin: 0 50px;
}

.menu a {
    display: flex;
    border-top: 2px solid transparent;
    padding-top:15px;
}

.menu a:hover {
    color: #0065FC;
    border-top: 2px solid var(--main-color);
}


/****** Search ***********/
.search {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/****** Headline ***********/
.headline {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/****** Search-bar ***********/
.search-bar {
    display: flex;
    width: 377px;
    height: 49px;
    flex-direction: row;
    flex-wrap: nowrap;   
    border-radius: 15px;
    border: 1px solid var(--main-bg-color);
}

i.fa-location-dot {
    display: flex;
    width: 50px;
    height: 49px;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;
    background: var(--main-bg-color);
    flex-shrink: 0;
}

#search-input {
    display: flex;
    border: none;
    outline: none;
    color:black;
    font-weight:bold;
    font-size: 18px;
}


::placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 24px 0px 24px;
    color:black;
    font-weight:bold;
    font-size: 18px;
}

.text-search {
    display: flex;
    padding: 15px 16px;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    color: #FFFFFF;
    font-size: 18px;
    font-weight:bold;
}

.icon-search {
    display: none;
}

.icon-search .fa-solid{
    color:white;
}

/****** filter-bar ***********/
.filter-bar {
    display: flex;
    width:758px;
    height: 50px;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.buttons {
    display: flex;
    width:100%;
    flex-direction: row;
    gap: 15px;
}
.btn {
    display: flex;
    height: 50px;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    background-color: #FFFFFF;
    font-size: 17px;
    font-weight: 700;
    padding: 4px 19px;
    align-items: center;
    gap: 10px;
}

.btn:hover {
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    background: var(--filter-bg-color)
}

.fa-solid {
    color: #0065FC;
}

/****** info-bar ***********/
.info-bar {
    display: flex;
    align-items: center; 
}

.info-bar-icon {
    display: flex;
    height: 24px;
    width: 24px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    background: #FFFFFF;
    color: var(--main-color);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    margin-right: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    width:100%;
    display: flex;
    justify-content: space-between;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;/****** déjà dans le code ***********/
    padding: 30px;
    margin: 50px 0 35px 0;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

.hebergements .populaires-title {
    margin-bottom: 30px;
}

.hebergements-cards {
    display: flex;
    width:100%;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px;
    gap: 30px;
}

.hebergements-cards .card {
    width: 250px;
    height: 207px;
    padding-bottom: 15px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.hebergements-cards .card img {
    height: 114px;
    width: 100%;
    align-self: stretch;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.hebergements .card .card-content {
    display: flex;
    flex-direction: column;
    padding-left:15px;
    gap:8px;
}

.hebergements-cards .card .card-txt {
    display: flex;
    flex-direction: column;
    gap:8px;
}

.hebergements .title-filter {
    margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    height: auto;
    padding: 30px;
    margin: 50px 0 35px 0;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

.populaires .populaires-title {
    display: flex;
    justify-content: space-between;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités à Marseille ***********/
.marseille-activities {
    padding: 0 30px 0 30px;
    flex-basis: 612px;
}
.marseille-activities .marseille-cards {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
}
.marseille-activities .activities-cards {
    width: 297px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    border-radius: 20px 20px 20px 20px;
}
.marseille-activities .card-title {
    padding: 20px 19px 20px 19px;
}
.marseille-activities img {
    height: 380px;
    width: 297px;
    border-radius: 20px 20px 0 0;
    align-self: stretch;
    object-fit: cover;
}

/****** Footer ***********/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin-top: 35px;
    margin-bottom: 60.5px;
    background-color: var(--Grey, #F2F2F2);
}

.footer-section {
    width: 446px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

/****** Menu ***********/
    .menu {
    width: 34%;
    }

/****** filter-bar ***********/
    .filter-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 668px;
        height: 91px;
        gap: 20px;
    }

    .buttons {
        width:100%;
        justify-content: space-between;

    }
    .btn {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 16px;

    }

/****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column;
    }


/****** Hebergements ***********/
    .hebergements {
        width: 100%;
        flex-basis: 612px; 
        margin-top:35px;
    }

    .hebergements-cards .card{
        width:263px;
    }

/****** Populaires ***********/
    .populaires {
        width: 100%;
        margin-top: 15px;
        justify-content: space-around;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        object-fit: cover;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

/****** Activités à Marseille ***********/
    .marseille-cards {
        width:100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .marseille-activities .activities-cards {
        width:190px;
        height:270px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .marseille-cards img {
        height: 200px;
        width: 193px;
    }

/****** Footer ***********/
    .footer {
        margin-bottom: 0px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

/****** General ***********/
    .body-container {
        margin: 30px 0 0 0;
    }

/****** Header ***********/
    header {
        flex-direction: column;
        height: auto;
        border-bottom: 2px solid var(--main-bg-color);
    }

/****** Logo ***********/
    #logo {
        align-self: center;
        padding: 30px;
    }

/****** Menu ***********/
    .menu {
        justify-content: space-between;
        width: 100%;
        margin:0;
        gap:0;
    }
    .menu a {
        width:100%;
        justify-content: center;
        border-bottom: 2px solid transparent;
        padding-bottom:15px;
    }

    .menu a:hover {
            font-style: var(--main-color);
            border-top-color: transparent;
            border-bottom:2px solid #0065FC;
    }


/****** Search ***********/
    .search {
    width:100%;
    padding: 0 20px;
    }

/****** Headline ***********/
    .headline {
        align-items: flex-start;
        align-self: stretch;
    }
    
/****** Search-bar ***********/
    .search-bar {
        width:100%;
    }

    #search-input {
        width:100%;
    }

    .text-search {
        display: none;
    }

    .icon-search {
        display: block;
        padding: 15px 16px;
        font-size: 18px;
        border-radius: 15px;
        border: 1px solid var(--main-color);
        background: var(--main-color);
        color: #FFFFFF;
        font-weight: bold;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    
/****** filter-bar ***********/
    .filter-bar {
        width:100%;
        height: 161px;
    }

    .buttons {
        width:100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .btn {
        width:47%;
        font-size: 14px;
        justify-content: center;
    }

/****** Hebergements ***********/
    .hebergements {
        order: 2;
        background-color: #FFFFFF;
        border-radius: 0px;
        margin: 0;
        padding:20px;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards a {
        width:100%;
    }
    .hebergements .card { 
        width:100%;
        height:auto;
        align-self: stretch;
    }

    .hebergements .card .img { 
        width:100%; 
        height:124px;

    }

/****** Populaires ***********/
    .populaires {
        order: 1;
        margin-top: 35px;
        padding:30px 20px;
        width:100%;
        height:auto;
        border-radius: 0px;
    }

    .populaires-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .populaires-cards .card {
        margin:0;
        margin-top: 15px;
    }
    .populaires .card {
        height:146px;
    }

    .populaires-cards a {
        width:100%;
    }

/****** Activités à Marseille ***********/
    .marseille-cards .activities-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .marseille-cards a {
        width:100%;
    }

    
    .marseille-cards .activities-cards {
        width:100%;
        height:auto;
    }

    .activities-cards img {
    width: 100%;
    height: 141px;
}

/****** footer ***********/
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
    padding:30px;
}

}